*, *::after, *::before {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: auto;
    font-family: 'Times New Roman', Times, serif;
}

/*First section*/
.first-section {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-picture-container {
    max-width: 300px;
    flex: 1 1 auto;
    border: 12px solid #56cdfe;
    border-radius: 50%;
    box-shadow: 2px 2px 3px;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: whitesmoke;
}

.header-links {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 12px;
}

.header-links a {
    text-decoration: none;
    color:#1F2937;
    display: block;
    font-size: 20px;
    padding: 16px;
}

.header-links a:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px 1px black;
}

.logo {
    height: 36px;
    margin-left: 24px;
    border: 4px solid black;
    border-radius: 50%;
    box-shadow: 1px 1px;
    transition: all 2.0s;
}

.logo:hover {
    transform: rotate(360deg);
    transition: all 2.0s;
    cursor: pointer;
}

/*Title section*/
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    background-image: linear-gradient(
        60deg,
        rgba(57, 60, 90, 0.85),
        rgba(180, 180, 120, 0.5)
      ), url('./img/one-piece.jpg');
    background-position: center;
    background-size: cover;
}

.hero-box {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 128px 72px 72px;
    gap: 24px;
    padding: 60px 32px;
    border: 3px solid skyblue;
    border-radius: 200px;
    box-shadow: 2px 2px 20px 2px black;
    background: rgba(57, 60, 90, 0.7);
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 20px;
    align-items: flex-start;
    padding-left: 50px;
}

h1 {
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 700;
}

.hero-main-text {
    color: #56cdfe;
    text-shadow: 2px 2px black;
}

.hero-subtext {
    color: #E5E7EB;
}

.sign-up {
    background-color: rgb(230, 250, 250);
    font-weight: 900;
    padding: 4px 24px;
    border-radius: 4px;
    align-self: center;
}

/*Second section*/
.second-section {
    background-color: #ffa355;
    background-image: linear-gradient(60deg, #97d1ff, transparent);
    border-bottom: 1px solid black;
}

.title {
    color: #1F2937;
    text-shadow: 2px 2px black;
    text-align: center;
    padding: 48px;
    padding-top: 96px;
    border-top: 1px black solid;
}

.member-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0px 24px 96px 24px;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 8px;
    padding: 24px;  
    color: #1F2937;
    text-shadow: 1px 1px 1px black;
}

.member-picture {
    width: 200px;
    height: 200px;
    border: 12px solid rgba(0, 0, 0, 0.815);
    border-radius: 32px;
    box-shadow: 2px 2px 3px black;
    object-fit: cover;
}

.member-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex-wrap: wrap;
    max-width: 200px;
    font-size: 18px;
    font-weight: bold;
}

/*Third section*/
.third-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 160px 80px;
    border-bottom: 1px solid black;
    background-image: linear-gradient(
        60deg,
        rgba(57, 60, 90, 0.6),
        rgba(180, 180, 120, 0.4)
      ), url('./img/a-thousand-sunny.jpg');
    background-position: center;
    background-size: cover;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: whitesmoke;
}

.quote-owner {
    align-self: flex-end;
    font-weight: 800;
    font-size: 24px;
    color: whitesmoke;
}

/*Fourth section*/
.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.call-to-action-container {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 40px 120px;
    border-radius: 10px;
    display: flex;
    gap: 160px;
}

.call-to-action-main-text {
    font-size: 24px;
    font-weight: 800;
}

.call-to-action-subtext {
    font-size: 18px;
}

.call-to-action-button {
    border: 3px solid #F9FAF8;
}

/*Footer*/
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 18px;
}

/*Portfolio/
/* Project portfolio section */
.portfolio-section {
    justify-content: center;
    border-bottom: solid black 1px;
    background-image: linear-gradient(
        60deg,
        rgba(57, 60, 90, 0.85),
        rgba(180, 180, 120, 0.5)
        ),
        url(./img/vietnam.jpg);
    background-position: center;
    background-size: cover;
}
  
.portfolio-container {
display: flex;
justify-content: center;
flex-flow: row wrap;
padding: 0px 24px 96px 24px;
}
  
.portfolio-tile {
color: white;
text-shadow: 2px 2px black;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
gap: 8px;
padding: 24px;
width: 300px;
}
  
.portfolio-icon {
width: 200px;
height: 200px;
border: 12px solid lightblue;
border-radius: 32px;
box-shadow: 2px 2px 3px black;
object-fit: cover;
}

.portfolio-icon:hover {
border: 12px solid skyblue;
border-radius: 32px;
box-shadow: 2px 2px 10px navy;

}

.portfolio-text {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
flex-wrap: wrap;
max-width: 200px;
font-size: 18px;
font-weight: bold;
}