body {
    overflow: auto;
    font-family: Roboto, sans-serif;
}

.first-section {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 16px 200px 80px;
    gap: 80px;
}

.hero-picture-container {
    background-color: #908f8f;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: space-between;
    gap: 24px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.hero-container {
    display: flex;
    padding-right: 24px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 8px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #3882F6;
}

.second-section {
    text-align: center;
    padding: 32px 250px 80px;
}
